
/* Layout: Min 768px Max 992px. */

@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Device Size : 590px. */

@media only screen and (min-width: 575px) and (max-width: 767px) {
}


/* Extra Small Device : 320px. */

@media only screen and (min-width: 320px) and (max-width: 768px) {

    /* home page */
    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 24px;
    }

    .color-btn {
        min-width: 120px;
        height: 42px;
    }

    .transparent-btn {
        min-width: 120px;
    }

    #main-menu {
        background: #fff;
    }

    #main-menu li a {
        line-height: 36px;
        color: #3a3a3a;
    }

    .banner-info h1 {
        line-height: 40px;
        font-size: 30px;
    }

    .navbar-light .navbar-toggler {
        background: #fff;
    }
    .contact-form {
        margin-top: 50px;
    }
}


/* Small Device : 480px. */

@media only screen and (min-width:480px) and (max-width: 768px) {
    .color-btn {
        min-width: 150px;
    }

    .transparent-btn {
        min-width: 150px;
    }
}